{% extends 'base.html' %}
{% block content %}
<h2>Trending Topics</h2>
<img src="data:image/png;base64,{{ wordcloud }}" />
<h2>Choose among the following topics: </h2>
<form action = "/recommended" method = "POST">
    {% csrf_token %}
    <label>
        <input type = 'radio' name = 'ch' value = "AI" required>AI
    </label><br>
    <label>
        <input type = 'radio' name = 'ch' value = "ML" required>ML
    </label><br>
    <label>
        <input type = 'radio' name = 'ch' value = "Quantum Computing" required>Quantum Computing
    </label><br>
    <label>
        <input type = 'radio' name = 'ch' value = "NLP" required>NLP
    </label><br>
    <button type = "submit">Suggest Papers</button>
</form>


{% endblock %}